<tr>
    <td>{{email.name}}</td>
    <td>{{email.email}}</td>
    <td>
        <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-default"
                onclick="enableReceiverUpdate('{{email.name}}', '{{email.email}}', '{{email.uuid}}')">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" onclick="enableReceiverDelete('{{email.name}}', '{{email.email}}', '{{email.uuid}}')">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
    </td>
</tr>