{% extends "components/base.html" %}
{% block content %}
<div class="page-header">
    <h3>收件人管理</h3>
</div>
<div class="btn-group toolbar-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#receiverRegister">新增收件人</button>
</div>
<div class="modal fade" id="receiverRegister" tabindex="-1" role="dialog" aria-labelledby="receiverRegisterLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="receiverRegisterLabel">新增收件人</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formRegisterReceiver" method="post"
                    action="{{url_for('email.email-create') }}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputName">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputEmail">邮件地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail" name="email" placeholder="邮件地址">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="submitReceiverRegister()">添加</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="receiverUpdate" tabindex="-1" role="dialog" aria-labelledby="receiverUpdateLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="receiverUpdateLabel">修改收件人</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formUpdateReceiver" method="post"
                    action="{{url_for('email.email-update') }}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputUpdateName">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUpdateName" name="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputUpdateEmail">邮件地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUpdateEmail" name="email"
                                placeholder="邮件地址">
                        </div>
                    </div>
                    <input type="text" hidden id="inputUpdateUUID" name="uuid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="submitReceiverUpdate()">更新</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="receiverDelete" tabindex="-1" role="dialog" aria-labelledby="receiverDeleteLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="receiverDeleteLabel">注销收件人</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    确定要删除收件人&nbsp;<strong id="inputDeleteName"></strong>&nbsp;吗？
                </div>
                <form hidden method="post" id="formDeleteReceiver" action="{{url_for('email.email-delete') }}">
                    <input type="text" hidden id="inputDeleteUUID" name="uuid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" onclick="submitReceiverDelete()">删除</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th width="15%">姓名</th>
            <th width="70%">邮箱地址</th>
            <th width="15%">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for email in emails %}
        {% with email=email %}
        {% include "email/email_item.html" %}
        {% endwith %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block stylecontent %}
<style>
    .toolbar-group .btn {
        width: 150px
    }

    .toolbar-group {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block scriptcontent %}
<script>
    function submitReceiverRegister() {
        document.getElementById("formRegisterReceiver").submit()
    }
    function enableReceiverUpdate(name, email, uuid) {
        $('#inputUpdateName').val(name)
        $('#inputUpdateEmail').val(email)
        $('#inputUpdateUUID').val(uuid)
        $('#receiverUpdate').modal('toggle')
    }
    function submitReceiverUpdate() {
        document.getElementById("formUpdateReceiver").submit()
    }
    function enableReceiverDelete(name, email, uuid) {
        $('#inputDeleteName').text(name)
        $('#inputDeleteUUID').val(uuid)
        $('#receiverDelete').modal('toggle')
    }
    function submitReceiverDelete() {
        $('#formDeleteReceiver').submit()
    }


</script>
{% endblock %}