{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="list-group">
        {% for item in items %}
        {% with news=item %}
        {% include "components/news_item.html" %}
        {% endwith %}
        {% endfor %}
    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a href="javaScript:void(0)"><span aria-hidden="true">&larr;</span> 上一页</a></li>
            <li class="next"><a href="javaScript:void(0)">下一页 <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
{% endblock %}