{% extends "components/base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>站点管理</h2>
    </div>
    <div class="btn-group toolbar-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">新建站点</button>
    </div>
    <ul class="list-group">
        {% for site in sites %}
        {% with site=site %}
        {% include "components/site_item.html" %}
        {% endwith %}
        {% endfor %}
    </ul>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a href="javaScript:void(0)"><span aria-hidden="true">&larr;</span> 上一页</a></li>
            <li class="next"><a href="javaScript:void(0)">下一页 <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

</div>
{% endblock %}

{% block stylecontent %}
<style>
    .toolbar-group .btn {
        width: 150px
    }

    .toolbar-group {
        margin-bottom: 10px;
    }
</style>
{% endblock %}