{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>话题管理 <small>{{topic['name']}}</small></h2>
    </div>
    <div class="btn-group" role="group" aria-label="..." id="toolbar">
        <button type="button" class="btn btn-primary">停用</button>
        <button type="button" class="btn btn-danger">删除</button>
        <a class="btn btn-success"
           href="{{ url_for('config.keyword_create_view', topic_id=topic['_id'])}}">
           新建关键字
        </a>
    </div>
    {% with keywords=keywords, topic_id=topic['_id'] %}
    {% include "components/keyword_list.html" %}
    {% endwith %}
</div>
{% endblock %}

{% block stylecontent %}
<style>
    #toolbar {
        padding-bottom: 10px;
    }
    #toolbar button {
        width: 100px
    }
</style>
{% endblock %}