{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>话题管理</h2>
    </div>
    <ul class="list-group">
        {% for topic in topics %}
            {% with news=item %}
                {% include "components/topic_item.html" %}
            {% endwith %}
        {% endfor %}
    </ul>
    
</div>
{% endblock %}