{% extends "components/base.html" %}
{% block content %}
<div class="page-header">
    <h3>
        话题管理 &nbsp;
        <small>
            {{topic.name}}
            {% if not topic.enable %}
                <span class="label label-default"> 停用 </span>
            {% endif %}
        </small>
    </h3>
</div>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group toolbar-group" role="group" aria-label="...">
        <a href="{{ url_for('topic.topic-list') }}" class="btn btn-default btn-action">返回列表</a>
    </div>
    <div class="btn-group toolbar-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-action" data-toggle="modal"
            data-target="#topicUpdateModal">修改话题</button>
        <button type="button" class="btn btn-default btn-action" data-toggle="modal"
            data-target="#keywordCreateModal">新增关键字</button>
    </div>
    <div class="btn-group toolbar-group pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-danger btn-action" data-toggle="modal"
            data-target="#topicDeleteModal">删除话题</button>
    </div>
</div>
<ul class="list-group">
    {% for keyword in keywords %}
    {% with topic=topic %}
    {% include "topic/keyword_item.html" %}
    {% endwith %}
    {% endfor %}
</ul>
{% with url=url_for('topic.topic-detail', topic_id=topic.uuid)+"?" %}
{% include "components/paginator.html" %}
{% endwith %}
<div class="modal fade" id="topicUpdateModal" tabindex="-1" role="dialog" aria-labelledby="topicUpdateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="topicUpdateModalLabel">修改话题</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formUpdateTopic" method="post"
                    action="{{url_for('topic.topic-detail', topic_id=topic.uuid) }}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputTopic">话题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTopic" name="topic" value="{{topic.name}}"
                                placeholder="话题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="checkboxTopicEnable">启用</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" 
                                           id="checkboxTopicEnable"
                                           name="enable"
                                           {% if topic.enable %} checked {% endif %}>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" onclick="submitTopicUpdate()">修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="topicDeleteModal" tabindex="-1" role="dialog" aria-labelledby="topicDeleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="topicDeleteModalLabel">删除话题</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    确定要删除话题<strong>{{topic.name}}</strong>吗？
                </div>
                <form class="form-horizontal" id="formDeleteTopic" method="post"
                    action="{{url_for('topic.topic-delete', topic_id=topic.uuid) }}">
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger pull-left" onclick="submitTopicDelete()">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="keywordCreateModal" tabindex="-1" role="dialog" aria-labelledby="keywordCreateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="keywordCreateModalLabel">新增关键字</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" action="{{ url_for('keywords.keyword-create')}}"
                    id="formCreateKeyword">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">关键字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputKeyword" name="keyword" placeholder="关键字">
                        </div>
                    </div>
                    <input type="text" hidden name="topic" value="{{topic.uuid}}">
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary pull-left" onclick="submitKeywordCreate()">添加</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="keywordUpdateModal" tabindex="-1" role="dialog" aria-labelledby="KeywordUpdateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="KeywordUpdateModalLabel">修改关键字</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formKeywordUpdate" method="post"
                    action="{{ url_for('keywords.keyword-update')}}" id="formCreateKeyword">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">关键字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputKeywordUpdate" name="keyword"
                                placeholder="关键字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="checkboxKeywordEnable">启用</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" 
                                           id="checkboxKeywordEnable"
                                           name="enable">
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="text" hidden name="keyword_id" id="inputKeywordIdUpdate">
                    <input type="text" hidden name="topic" value="{{topic.uuid}}">
                </form>
                <form id="formKeywordDelete" method="post" action="{{url_for('keywords.keyword-delete')}}">
                    <input type="text" hidden name="keyword_id" id="inputKeywordIdDelete">
                    <input type="text" hidden name="topic" value="{{topic.uuid}}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" onclick="submitKeywordUpdate()">修改</button>
                <button type="button" class="btn btn-danger pull-left" onclick="submitKeywordDelete()">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylecontent %}
<style>
    .btn-action {
        width: 100px
    }

    .btn-toolbar {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block scriptcontent %}
<script>
    function submitTopicUpdate() {
        document.getElementById("formUpdateTopic").submit()
    }
    function submitTopicDelete() {
        $('#formDeleteTopic').submit()
    }
    function submitKeywordCreate() {
        document.getElementById("formCreateKeyword").submit()
    }
    function submitKeywordUpdate() {
        document.getElementById("formKeywordUpdate").submit()
    }
    function submitKeywordDelete() {
        $('#formKeywordDelete').submit()
    }
    function enableKeywordUpdateModal(uuid, name, enable) {
        $("#inputKeywordUpdate").val(name)
        $("#inputKeywordIdUpdate").val(uuid)
        $("#inputKeywordIdDelete").val(uuid)
        $('#keywordUpdateModal').modal('toggle')
        if (enable=='True') {
            document.getElementById('checkboxKeywordEnable').checked=true;
        }
    }
</script>
{% endblock %}