<li onclick="enableKeywordUpdateModal('{{keyword.uuid}}', '{{keyword.name}}', '{{keyword.enable}}')"
    class="list-group-item">
    {% if not keyword.enable %}
    <span class="badge">停用</span>
    {% endif %}
    {{keyword.name}}
</li>