{% extends "components/base.html" %}
{% block content %}
<div class="page-header">
    <h3>话题管理</h3>
</div>
<div class="btn-group toolbar-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#topicCreateModal">新建话题</button>
</div>

<ul class="list-group">
    {% for topic in topics %}
        {% with topic=topic %}
            {% include "topic/topic_item.html" %}
        {% endwith %}
    {% endfor %}
</ul>
<div class="modal fade" id="topicCreateModal" tabindex="-1" role="dialog" aria-labelledby="topicCreateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="topicCreateModalLabel">新建话题</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formCreateTopic" method="post"
                    action="{{url_for('topic.topic-list') }}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputTopic">话题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTopic" name="topic"
                                placeholder="话题">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="submitTopicCreate()">新建</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block stylecontent %}
<style>
    .toolbar-group .btn {
        width: 150px
    }

    .toolbar-group {
        margin-bottom: 10px;
    }
</style>
{% endblock %}


{% block scriptcontent %}
<script>
    function submitTopicCreate() {
        document.getElementById("formCreateTopic").submit()
    }

</script>
{% endblock %}