<a href="{{ url_for('topic.topic-detail', topic_id=topic.uuid) }}" class="list-group-item">
    <span class="badge">{{topic.keywords}}</span>
    {% if not topic.enable %}
    <span class="badge">停用</span>
    {% endif %}
    {{topic.name}}
</a>