<!--  MC_catalogue_title -->
<!--  MC_catalogue_number -->
<!--  MC_catalogue_search-->
{% for name, value in statistic.items() %}
<tr>
    <td style="padding:10px 0 10px 25px; width: 28px; font-size:14px; border-bottom: 1px solid #FAFAFA; height: 24px;"
        height="24">
        <p
            style="font-size:12px; line-height:100%; color:rgb(118, 137, 154);background-color: #FAFAFA; padding:0; margin:0;width:18px;">
            <img style="vertical-align:middle; width: 18px; max-width: 18px;background-color: #ffffff" width="18"
                src="https://app.meltwater.com/daily_digest_assets/explore.png" class="icon">
        </p>
    </td>

    <td style="padding:10px 18px 10px 16px; font-size:16px; height: 24px; border-bottom: 1px solid #FAFAFA;"
        height="24">
        <a style="text-decoration: none;color: #202020" href="#{{value['id']}}">{{name}}</a>
    </td>

    <td style="padding:10px 18px;text-align:right; height: 24px; border-bottom: 1px solid #FAFAFA;" height="24">
        <span
            style="padding:4px 6px; min-width: 10px;font-size: 16px;font-weight: 700;line-height: 1;color: rgb(253, 0, 90); text-align: center;white-space: nowrap;vertical-align: baseline;">{{value['counter']}}</span>
    </td>
</tr>

{% endfor %}