<html>

<head>
  <meta charset="UTF-8">
  <style></style>

</head>


<body>

  <div>
    <table align="center" class=MsoNormalTable style="width:600px;margin:0 auto; border-spacing: 0">
      <tbody>
        <!-- logo图标 -->
        <tr>
          <td style="text-align: center;">
            <img src="https://www.metax-tech.com/img/logo.svg" width="261" id="topOfReport"
              style="width: 261px; max-width: 261px; padding-bottom: 6px">
          </td>
        </tr>

        <!-- 搜索栏 -->
        <tr>
          <td>
            
            <table
              style="width:100%;min-width:100%;border-collapse:separate;border-spacing:0; background-color: #ffffff;border: 1px solid #dee1e2;">
              <tbody>
                <tr>
                  <td colspan="3"
                    style="text-align: left; padding-bottom: 12px; padding-top: 12px; padding-left: 24px; padding-right:24px; background-color: #ffffff; border-bottom: 1px solid #dee1e2;">
                    <h2
                      style="font-size: 20px;color:#202020;font-weight: 500;margin:0;padding:0; padding-top:4px; padding-bottom:4px; line-height:20px;">
                      搜索</h2>
                  </td>
                </tr>

                {% include "catalogue.html" %}


              </tbody>
            </table>
          </td>
        </tr>

        <!-- 空行 -->
        <tr>
          <td style="height:43px">&nbsp;</td>
        </tr>

        {% for title, items in news.items() %}
        {% with title=title, items=items, count=statistic[title] %}
        {% include "subject.html" %}
        {% endwith %}
        {% endfor %}


      </tbody>
    </table>
  </div>
</body>

</html>