<!-- MC_subject_title -->
<!-- MC_subject_main -->

<!-- 新闻主体 -->
<tr>
    <td>
        <table id="{{count['id']}}" class="newsTable">
            <tbody>
                <!-- 头部信息(共几条新闻) -->
                {% include "subject_title.html" %}
                {% for item in items %}
                {% include "subject_main.html" %}
                {% endfor %}

            </tbody>
        </table>
    </td>
</tr>

<tr>
<td colspan="3" style="height:10px; line-height:10px; page-break-inside: avoid; background-color: #ffffff; border-bottom: 1px solid #dee1e2">&nbsp;</td>
</tr>

<!-- 空行 -->
<tr>
<td class="emptyLine">&nbsp;</td>
</tr>


<!-- MC_subject_title -->
<!-- MC_subject_main -->

<!-- 新闻主体 -->
<tr>
    <td>
        <table id="content_stream_search_17199080" style="border-spacing: 0; border-collapse: collapse; border-left: none; border-right: none; border-top: 1px solid #dee1e2; background-color: #ffffff; width: 600px;" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
            <tbody>
                <!-- 头部信息(共几条新闻) -->
                {% include "subject_title.html" %}

                <!-- 主体 -->
                {% for item in items %}
                {% include "subject_main.html" %}
                {% endfor %}

            </tbody>
        </table>
    </td>
</tr>

<tr>
<td colspan="3" style="height:10px; line-height:10px; page-break-inside: avoid; background-color: #ffffff; border-bottom: 1px solid #dee1e2">&nbsp;</td>
</tr>

<!-- 空行 -->
<tr>
<td style="height:43px">&nbsp;</td>
</tr>
