<!-- MC_subject_title_title -->
<!-- MC_subject_title_number -->
<!-- MC_subject_search-->

<!-- 头部信息(共几条新闻) -->

<tr>
    <td colspan="2" style="background-color: #ffffff">
        <table width="100%" style="min-width: 100%; background-color: #ffffff; border-left: 1px solid #dee1e2; border-right: 1px solid #dee1e2;" bgcolor="#ffffff">
            <tbody>
                <!-- 头部标题 -->
                <tr>
                    <td colspan="3" style="text-align: center; padding-bottom: 6px; padding-left: 24px; padding-right:24px;">
                        <a name="mc_subject_search" style="height: 13px; line-height: 13px">&nbsp;</a>
                        <h2 style="font-size: 20px;color:#202020;font-weight: 500;margin:0;padding:0;line-height:24px;">{{title}}</h2>
                    </td>
                </tr>

                <!-- 图片与结果数量与返回顶部 -->
                <tr>
                    <td style="width: 33%">&nbsp;</td>

                    <td style="width: 33%; text-align: center; vertical-align: top;" >
                        <table style="margin: 0 auto" >
                            <tbody>
                                <tr>
                                    <td style="text-align: right; vertical-align: middle">
                                        <img style="vertical-align:middle; width: 18px; max-width: 18px;background-color: #ffffff" width="18" src="https://app.meltwater.com/daily_digest_assets/explore.png" class="icon">
                                    </td>

                                    <td style="text-align: left; vertical-align: middle; font-size: 14px; color:#737373">&nbsp;{{count['counter']}} 结果</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td style="width: 33%; text-align:right; vertical-align: middle; padding-right: 20px;">
                        <!-- <a style="text-decoration: none;font-size: 12px;font-weight: normal;cursor: pointer;" href="javascript:window.scrollTo(0,0)">
                            <span style="color:#9B9B9B;">返回顶部</span>
                        </a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
