<tr>
  <td colspan="2" style="padding: 0">
    <table
      style="border-spacing: 0; border-collapse: collapse; border-left: 1px solid #dee1e2; border-right: 1px solid #dee1e2; width: 100%;">
      <!-- 空行 -->
      <tr>
        <td colspan="3"
          style="height:10px; line-height:10px; page-break-inside: avoid; background-color: #ffffff; border-bottom: 1px solid #dee1e2">
          &nbsp;</td>
      </tr>

      <!-- 空行 -->
      <tr>
        <td colspan="3" style="height:20px; line-height:20px; page-break-inside: avoid; background-color: #ffffff;">
          &nbsp;
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr style="page-break-inside:avoid; margin:0; padding:0; background-color: #ffffff;">
        <!-- 图片 -->
        <td
          style="width:38px; vertical-align:top; padding-left: 24px; padding-right: 4px; padding-top: 3px;border-left: 1px solid #dee1e2">
          <div style="width:38px;height:38px;background-color: #E1EAED;line-height:9px;min-height:38px;">
            <a href="https://www.metax-tech.com" target="_blank" style="border: none 0; display: block;" rel="noopener">
              <img src="https://cdn-icons-png.flaticon.com/512/2537/2537926.png" height="38" width="38"
                title="{{item.title}}" border="0" style="border:0px;height:38px;width:38px;">
            </a>
          </div>
        </td>

        <!-- 文字 -->
        <td style="padding-left:12px;border-right: 1px solid #dee1e2" colspan="2" class="content">
          <table style="border-spacing:0; border-collapse: collapse; width:100%; background: #ffffff" bgcolor="#ffffff"
            cellspacing="0" cellpadding="0">

            <!-- 空行 -->
            <tr style="mso-hide:all; font-size: 0px; height: 0px;" cellspacing="0" cellpadding="0">
              <td></td>
              <td width="21"></td>
            </tr>

            <!-- 小title -->
            <tr>
              <td style="background: #ffffff" bgcolor="#ffffff" colspan="2">
                <table style="width: 100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>
                        <p
                          style="font-size:14px; line-height:20px; mso-line-height-rule: at-least; color: #9B9B9B; padding: 1px 0 0 0; margin:0;">
                          <img style="vertical-align:text-top; width: 18px; max-width: 18px;" width="18"
                            src="https://app.meltwater.com/daily_digest_assets/news-20x20-2x.png" class="icon">&nbsp;
                          <a style="font-weight:bold; color: #202020; text-decoration:none; margin:0;"
                            href="{{item.link}}" target="_blank" rel="noopener">{{item.source}}</a>
                          <span>&nbsp; </span>
                          <span style="font-size: 1px; width: 0px;"></span>
                          CHN
                          <span style="font-size:12px; line-height:12px; vertical-align:middle"> • </span>
                          {{item.date}}

                        </p>
                      </td>

                      <td
                        style="vertical-align:top; text-align:right; width: 16px; padding-left: 6px; padding-top: 5px; padding-right: 21px; mso-padding-alt: 5px 23px 0px 6px; border: none;">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <!-- 空行 -->
            <tr height="9" style="border-spacing:0; display:block;">
              <td colspan="3" style="height:9px; line-height:9px; page-break-inside:avoid;">&nbsp;</td>
            </tr>

            <!-- title -->
            <tr style="border-spacing:0;">
              <td colspan="2" style="mso-padding-alt: 0 22px 0 0; display: table; table-layout: fixed; width: 100%">
                <a href="{{item.link}}" title="{{item.title}}" target="_blank"
                  style="line-height:24px; font-size:18px; display:block; word-wrap: break-word; width:100%; padding:0; margin:0; color: #202020; text-decoration:none;"
                  rel="noopener">
                  {{item.title}}
                </a>
              </td>
            </tr>

            <!-- 空行 -->
            <tr height="4" style="border-spacing:0; display:block;">
              <td colspan="3" style="height:0px; line-height:0px; page-break-inside:avoid;">&nbsp;</td>
            </tr>

            <!-- 正文 -->
            <tr>
              <td colspan="2" style="mso-padding-alt: 0 22px 0 0; display: table; table-layout: fixed; width: 100%">
                <p style="font-size:14px; line-height:20px; color:#555; word-wrap: break-word; padding:0; margin:0;">
                  {{item.content}}
                </p>
              </td>
            </tr>

            <!-- 空行 -->
            <tr height="9" style="border-spacing:0; display:block;">
              <td colspan="3" style="height:1px; line-height:1px; page-break-inside:avoid;">&nbsp;</td>
            </tr>


          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>