{% extends "components/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="list-group">
            {% for item in items %}
            {% with news=item %}
            {% include "news/news_item.html" %}
            {% endwith %}
            {% endfor %}
        </div>
        {% if topic_id %}
        {% with url=url_for('news.news-list')+"?topic="+topic_id + "&" %}
            {% include "components/paginator.html" %}
        {% endwith %}
        {% else %}
        {% with url=url_for('news.news-list')+"?" %}
            {% include "components/paginator.html" %}
        {% endwith %}  
        {% endif %} 
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{url_for('news.news-list')}}" 
               class="list-group-item {% if not topic_id %} active {% endif %}">
                全部新闻
            </a>
            {% for topic in topics %}
            <a href="{{url_for('news.news-list')}}?topic={{topic.uuid}}"
                class="list-group-item {% if topic_id == topic.uuid %} active {% endif %}">
                {{topic.name}}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}