<a href="{{news.link}}" class="list-group-item">
    <h4 class="list-group-item-heading">{{news.title}} </h4>
    <p><strong>{{news.date}} </strong> <span class="label label-primary">{{news.topic}}</span></p>
    <p class="list-group-item-text">{{news.content}}</p>
</a>