<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>沐曦舆情信息</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
        body {
            padding-top: 55px
        }
        .page-header {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    {% block stylecontent %}
    
    {% endblock %}
</head>

<body>
    {% include "components/header.html" %}
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    <script src="/static/jquery/jquery-3.6.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block scriptcontent %}
    
    {% endblock %}
</body>

</html>