<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('news.news-list')}}">沐曦舆情信息</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown {% if active=='config' %} active {% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">系统管理 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('topic.topic-list')}}">话题管理</a></li>
                    <li><a href="{{ url_for('sites.site-list')}}">站点管理</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url_for('email.email-list')}}">收件人管理</a></li>
                </ul>
            </li>
            <li><a href="javaScript:void(0)">登录</a></li>
        </ul>
    </div>
</nav>