<nav aria-label="...">
    <ul class="pager">
        {% if not skip %}
        <li class="previous disabled">
            <a href="javascript:void(0)">
            上一页
            </a>
        </li>
        {% else %}
        <li class="previous">
            <a href="{{url}}skip={{ skip-10 }}">
            上一页
            </a>
        </li>
        {% endif %}
        
        {% if count < skip + 10 %}
        <li class="next disabled">
            <a href="javascript:void(0)">
                下一页
            </a>
        </li>
        {% else %}
        <li class="next">
            <a href="{{url}}skip={{skip + 10}}">
                下一页
            </a>
        </li>
        {% endif %}
    </ul>
</nav>